<article class="booster" style="background-image: url('{{ asset(booster.backgroundUrl) }}');">
	<div class="booster-fold top"></div>

	<header class="booster-title">
		<h1>{{ booster.titleTop }}</h1>
		<h2>{{ booster.subtitleTop }}</h2>
	</header>

	<figure class="booster-symbol">
		<img src="{{ asset(booster.symbolUrl) }}" alt="Symbole Booster"/>
	</figure>

	<section class="booster-subtitle">
		<h3>{{ booster.titleBottom|raw }}</h3>
		<p>
			<span class="booster-count">{{ booster.cardCount }}</span>
			{{ booster.cardLabel }}
		</p>
	</section>

	<div class="booster-fold bottom"></div>
</article>
